/* Contenedor */
.container-login {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #180d2a;
  display: grid;
  place-items: center;
}

/* Contenedor del Formulario */
.container-form-login {
  width: 50%;
  height: 600px;
  background-color: white;
  display: grid;
  grid-template-rows: auto 1fr auto;
  justify-items: center;
}

/* Titulo */
.title-login {
  width: 100%;
  height: 50px;
  background-color: #22a7f2;
}

.title-login h1 {
  display: flex;
  color: white;
  height: 100%;
  align-items: center;
  justify-content: center;
  font-size: 28px;
}

/* Formulario */
.form {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-top: 80px;
}

/* Items */
.label {
  font-size: 18px;
  margin-bottom: 18px;
  font-weight: bold;
  color: rgb(92, 92, 92);
}

.input {
  border: none;
  border-bottom: 2px solid silver;
  outline: none;
  padding: 4px;
  font-size: 18px;
  margin-bottom: 32px;
}

.input:focus {
  border-bottom: 2px solid #22a7f2;
}

/* Btn - Ingresar */
.btn-ingresar {
  border: none;
  background-color: #22a7f2;
  padding: 10px 34px;
  border-radius: 20px;
  color: white;
  font-size: 16px;
  margin-top: 24px;
  cursor: pointer;
}

/* Opciones del Login */
.options-login {
  width: 100%;
  margin-top: 60px;
  text-align: center;
}

.options-login ul li img {
  width: 24px;
  margin: 10px;
}

.options-login ul li:nth-child(1) {
  color: rgb(59, 59, 59);
}

.options-login ul li:nth-child(3) {
  margin-top: 10px;
}
.options-login ul li:nth-child(3) a {
  color: #22a7f2;
  font-weight: bold;
}

/* ---------- RESPONSIVE -----------*/
@media screen and (max-width: 950px) {
  /* Formulario */
  .form {
    width: 60%;
  }
}

@media screen and (max-width: 720px) {
  /* Contenedor del Formulario */
  .container-form-login {
    width: 100%;
  }

  .container-form-login {
    height: 100%;
  }

  .title-login h1 {
    font-size: 24px;
  }

  .form {
    margin-top: 40px;
  }
}
