.hidden{
    overflow: hidden;
}

.preloader{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-image: url(../img/ilustraciones/pantalla-carga.png);
    background-size: cover;
}

.cerrar{
    transform: translateY(-100%);
    transition: all 0.5s;
}