.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    place-content: center;
    background-image: url(../img/iconos/iconEco2.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.informacion{
    margin: 40px;
}

.informacion h1{
    font-size: 22px;
}

.detalles-solicitud li{
    margin: 20px;
}
#titulo-servicios{
    font-weight: bold;
}

